<h3>Lead Form</h3>

@if (Error)
{
    <div class="alert-danger">
        <p>@ErrorMessage</p>
    </div>
}
<EditForm Model="@FormModel" OnSubmit="@OnFormSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>@nameof(FormModel.FirstName)</label>
    <InputText DisplayName="@nameof(FormModel.FirstName)" @bind-Value="@FormModel.FirstName" class="form-control" />
    <label>@nameof(FormModel.LastName)</label>
    <InputText DisplayName="@nameof(FormModel.LastName)" @bind-Value="@FormModel.LastName" class="form-control" />
    <label>@nameof(FormModel.Email)</label>
    <InputText DisplayName="@nameof(FormModel.Email)" @bind-Value="@FormModel.Email" class="form-control" />
    <label>@nameof(FormModel.Phone)</label>
    <InputText DisplayName="@nameof(FormModel.Phone)" @bind-Value="@FormModel.Phone" class="form-control" />
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>